.header__logo{
   fill: #ffffff;
}
.header__logo:hover{
    animation: color-anim 5s linear infinite;
}
@keyframes color-anim{
    0%{
        fill: #FECB94;    
    }
    10%{
        fill: #FFFF95;
    }
    20%{
        fill: #E5FF94;
    }
    30%{
        fill: #B1FF97;
    }
    40%{
        fill: #8CFFD1;
    }
    50%{
        fill: #94AFFF;
    }
    60%{
        fill: #C095FE;
    }
    70%{
        fill: #E492FB;
    }
    80%{
        fill: #FF92C9;
    }
    90%{
        fill: #FF9599;
    }
    100%{
        fill: #FFAC90;
    }
}